<a 	href="<%= ar_object.media_url %>" 
	class="lightwindow page-options" 
	params="lightwindow_width=425,lightwindow_height=340,lightwindow_loading_animation=false">
  <%= image_tag "icons/media.jpg", :border => 0 %>
</a>
