<ul>
	<li><a href="/categories">Products</a></li>
	<li><a href="/profiles">Profiles</a></li>
	<li><a href="/product_tags">Products Tags</a></li>
	<li><a href="/categories">Categories</a></li>
	<li><a href="/podia">Podia</a></li>
	<li><a href="/discriminators">Discriminators</a></li>
	<li><a href="/equivalences">Equivalences</a></li>
	<li><a href="/before_constraints">BeforeConstraints</a></li>
</ul>