<%= box_title %>
	<h1>Reset Password</h1>
<%= box_content %>
	<br/>
	<% form_tag  '/send_new_password' do -%>
		<table>
			<tr>
				<td ><span class="nm_text_label">Please enter your email or user name</span>:</td>
				<td><input type="text" name="email_or_login" id="email_or_login" size="20" /></td>
				<td>&nbsp;and&nbsp;<%= submit_tag 'Reset password' %></td>
			</tr>
		</table>		  
	<% end -%>
<%= box_end %>