<div id="compare_feature_review_<%= feature_review.id %>" style="display:<%= display %>; border:1px solid black; margin:10px; padding:5px;">
	<span style="margin-left:50px;">Show a list of products (better than, same as, worse than) + a free text about this feature</span>
</div>
