<div id="compare_feature_value_<%= feature_value.id %>" style="display:<%= display %>; border:1px solid black; margin:10px; padding:5px;">
	<span style="margin-left:50px;">Information about the rating computation... (base on hot/trash vote in indivudual review)</span>
</div>
